argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828452693/work
attrs @ file:///tmp/build/80754af9/attrs_1598374659300/work
backcall==0.2.0
bleach==3.3.0
certifi==2020.6.20
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1595805535531/work
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1593446408836/work
imutils==0.5.3
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598371569012/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi @ file:///tmp/build/80754af9/jedi_1596490743326/work
Jinja2==2.11.2
jsonschema @ file:///tmp/build/80754af9/jsonschema_1594363551272/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1594826976318/work
jupyter-console==6.1.0
jupyter-core==4.6.3
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
nbconvert @ file:///tmp/build/80754af9/nbconvert_1594376811065/work
nbformat==5.0.7
notebook @ file:///tmp/build/80754af9/notebook_1596838645154/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233707986/work
packaging==20.4
pandas @ file:///tmp/build/80754af9/pandas_1598371486213/work
pandocfilters==1.4.2
parso==0.7.0
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
prometheus-client==0.8.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments==2.7.4
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pyzmq==19.0.1
qtconsole @ file:///tmp/build/80754af9/qtconsole_1598374667791/work
QtPy==1.9.0
Send2Trash==1.5.0
six==1.15.0
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==3.1.0
